@import "~bootstrap/dist/css/bootstrap.css";
@import url('https://fonts.googleapis.com/css2?family=Exo:wght@700&display=swap');

* {
  font-size: 16px;
}

.news {
  width: 800px;
  margin: auto;
  cursor: pointer;
  padding-top: 10px;
  padding-bottom: 10px;
}

.news__content__img img {
  width: 100%;
}

.news__content {
  position: relative;
}

.news__content__text {
  position: absolute;
  bottom: 0;
  color: #fff;
  font-weight: 600;
  padding: 0px 20px 35px 20px;
  text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
  line-height: 1.1;
  font-family: 'Verdana';
}

.news__content__text__headline {
  font-size: 1.6rem;
  padding-bottom: 20px;
}
.news__content__text__date {
  font-size: 0.8rem;
  color: #d3d3d3;
  display: inline-block;
  border: 1px solid #d3d3d3;
  border-radius: 5px;
  padding: 3px;
}

.news-detail {
  width: 1000px;
  margin: auto;
}
.news-detail__headline {
  font-size: 2em;
  font-weight: 800;
  color: #101010;
  font-family: 'Exo';
  line-height: 1.2;
  padding: 0 10px 0 10px;
  text-align: justify;
}
.news-detail__date {
  float: right;
  color: #6c757d;
  padding: 0 10px 5px 10px;
}
.news-detail__image {
  padding: 10px;
  padding: 0 10px 0 10px;
}
.news-detail__image img {
  width: 100%;
}
.news-detail__description {
  text-align: justify;
  padding: 10px 10px 0 10px;
}
.comments-section {
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 1000px;
}
.comments-section__heading {
  padding: 10px;
  text-transform: uppercase;
  font-weight: 700;
}
.comments {
  width: 1000px;
  margin: auto;
  padding: 20px 10px 10px 10px;
  border-bottom: 1px solid #f3f3f3;
}

.comments__content {
  width: 100%;
  height: 90px;
  display: grid;
  grid-template-areas: "userImage userName"
                       "userImage  comment";
  grid-template-rows: 30px;
  grid-template-columns: 100px;
}
.comments__content__userName {
  grid-area: userName;
  font-weight: 700;
}
.comments__content__userImage {
  width: 90px;
  height: 90px;
  grid-area: userImage;
}
.comments__content__userImage img {
  width: 100%;
}
.comments__content__comment {
  grid-area: comment;
  color: #696969;
}
.comments-section__addComment {
  padding: 10px;
}
#comments-section_addComment__textarea{
min-height: 60px;
}

/* login page styles - start */
.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
/* login page styles - end */
